
<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <img width="190" src="assets/Imagenes/LogoLogin.png" alt>
      <br /> <br /> <br /> 
    </div>
    <h3>Bienvenidos a Desde Lejos</h3>
    <p>
      Software para la Gestión de Vueltas Legales.
    </p>
    <!--<p>
      Desarrollado por :
    </p>-->

    <!--<p>Ing. Jorge David Pertuz Egea</p>-->
    <h3>Inicio de Sesión</h3>

    <form (submit)="Login()" [formGroup]="form">

      <div align="left" class="form-group">
        <label>Usuario</label>
        <input id="UserName" type="text" class="form-control" required="" placeholder="Usuario" formControlName="UserName">
      </div>

      <div align="left" class="form-group">
        <label>Clave</label>
        <input id="Password" type="password" class="form-control" required="" placeholder="Clave" formControlName="Password">
      </div>

      <button type="submit" id="boton" name="boton" class="btn btn-primary block full-width m-b">Iniciar Sesión</button>
    </form>


    <b><p class="text-muted text-center"><small>.: Desde Lejos :.</small></p></b>
    <p class="text-muted text-center"><small> <b>CONTACTO CELULAR : </b> ( +57 ) 315 - 534 - 2264 </small></p>
    <p class="text-muted text-center"><small> <b>Email : </b> jpertuzegea@hotmail.com </small> </p>

  </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
